name: Benchmark
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache-dependency-path: "**/go.sum"
      - name: Benchmark
        run: go test -v -shuffle=on -bench=. ./...
      - name: Benchmark (file)
        run: go test -v -bench=. ./...
        working-directory: provider/file
      - name: Benchmark (pflag)
        run: go test -v -shuffle=on -bench=. ./...
        working-directory: provider/pflag
