name: Benchmark
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  benchmark:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          cache-dependency-path: "**/go.sum"
      - name: Run benchmark
        run: go test -v -bench=. -run=^$ ./... | tee output.txt
      - name: Download previous benchmark data
        uses: actions/cache/restore@v4
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-benchmark
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: 'go'
          output-file-path: output.txt
          external-data-json-path: ./cache/benchmark-data.json
          fail-on-alert: true
          summary-always: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/cache/save@v4
        if: ${{ github.ref_name=='main' }}
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark-${{ github.sha }}
