name: Benchmark
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  benchmark:
    strategy:
      matrix:
        module: [ '', 'provider/file', 'provider/pflag', 'provider/appconfig' ]
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache-dependency-path: "**/go.sum"
      - name: Benchmark
        run: go test -v -bench=. ./...
        working-directory: ${{ matrix.module }}
  all:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: All Benchmarks
    needs: benchmark
    steps:
      - name: Check benchmark matrix status
        if: ${{ needs.benchmark.result != 'success' }}
        run: exit 1
