name: Changelog
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - labeled
      - unlabeled

jobs:
  # Enforces the update of a changelog file on every pull request
  changelog:
    name: Changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dangoslen/changelog-enforcer@v3
