name: Lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    strategy:
      matrix:
        module:
          - ''
          - 'provider/file'
          - 'provider/pflag'
          - 'provider/appconfig'
          - 'provider/s3'
          - 'provider/parameterstore'
          - 'notifier/sns'
          - 'provider/azappconfig'
          - 'provider/azblob'
          - 'notifier/azservicebus'
          - 'provider/secretmanager'
          - 'provider/gcs'
          - 'notifier/pubsub'
          - 'examples/aws'
          - 'examples/azure'
          - 'examples/gcp'
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          cache: false
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: ${{ matrix.module }}
  all:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: All Lints
    needs: lint
    steps:
      - name: Check lint matrix status
        if: ${{ needs.lint.result != 'success' }}
        run: exit 1
