name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        module:
          - ''
          - 'provider/file'
          - 'provider/pflag'
          - 'provider/appconfig'
          - 'provider/s3'
          - 'provider/parameterstore'
          - 'notifier/sns'
          - 'provider/azappconfig'
          - 'provider/azblob'
          - 'notifier/azservicebus'
          - 'provider/secretmanager'
          - 'provider/gcs'
          - 'notifier/pubsub'
        go-version: [ 'stable', 'oldstable' ]
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache-dependency-path: "**/go.sum"
      - name: Race Test
        run: go test -v -shuffle=on -count=10 -race ./...
        working-directory: ${{ matrix.module }}
      - name: Test
        run: go test -shuffle=on -v ./...
        working-directory: ${{ matrix.module }}
  all:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: All Tests
    needs: test
    steps:
      - name: Check test matrix status
        if: ${{ needs.test.result != 'success' }}
        run: exit 1
